.slide-parallax {
	position: relative;
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	.bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 150%;
		background-size: cover;
	}
	.content {
		text-align: center;
		position: relative;
		z-index: 1;
		max-width: 80%;
		padding: 2rem;
		background-color: rgba(0, 0, 0, 0.25);
		color: #ffffff;
		h2 {
			font-size: 2rem;
			text-transform: capitalize;
			a {
				color: #ffffff;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.button-parallax {
		color: #fff;
		cursor: pointer;
		font-size: 16px;
		font-weight: 400;
		line-height: 45px;
		margin: 0 0 2em;
		max-width: 160px;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		width: 100%;
		&:hover {
			text-decoration: none;
			color: inherit;
    		opacity: 0.5;
		}
	}
}
.container-btn {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1em;
	text-align: center;
}
.btn-style-1 {
	font-weight: 100;
	svg {
		height: 45px;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	rect {
		fill: none;
		stroke: #fff;
		stroke-width: 2;
		stroke-dasharray: 422, 0;
		transition: all 0.35s linear;
	}
	&:hover {
		background: rgba(225, 51, 45, 0);
		font-weight: 900;
		letter-spacing: 1px;
		rect {
			stroke-width: 5;
			stroke-dasharray: 15, 310;
			stroke-dashoffset: 48;
			transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
		}
	}
}
.container-sponsor {
	text-align: center;
	.sponsor-name {
		margin-left: 5px;
		font-weight: 600;
		font-size: 1.1rem;
	}
}
@media (min-width: 1200px) {
	.slide-parallax {
		.content {
			max-width: 50%;
		}
	}
}
@media (min-width: 768px) {
	.slide-parallax {
		h2 {
			font-size: 3rem;
		}
		p {
			font-size: 1.2rem;
			max-width: 80%;
			margin: 0 auto;
			padding: 2rem 0;
		}
	}
	.container-sponsor {
		text-align: right;
	}
}
@media (min-width: 600px) {
	.btn-style-1 {
		margin: 0 1em 2em;
	}
}
