input {
	&:focus {
		outline-style: solid;
		outline-width: 2px;
	}
}
textarea {
	&:focus {
		outline-style: solid;
		outline-width: 2px;
	}
}
textarea.text-area-custom {
	&:focus {
		outline: none;
		border-color: #ccffff;
		box-shadow: 0 0 0 2px #ccffff;
	}
	width: 40%;
	height: 80px;
	border: 1px solid #36BEE8;
	box-shadow: none;
	background-color: #fff;
}
input.input-custom {
	height: 45px;
	width: 40%;
	border: 1px solid #36BEE8;
	box-shadow: none;
	background-color: #fff;
	padding: 0 8px;
	&:focus {
		outline: none;
		border-color: #ccffff;
		box-shadow: 0 0 0 2px #ccffff;
	}
}
#display_sponsored_content_data {
	.inside {
		margin: 0;
		label {
			margin-top: 30px;
			display: block;
		}
	}
}