/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
input:focus, textarea:focus {
  outline-style: solid;
  outline-width: 2px;
}
textarea.text-area-custom:focus {
    outline: none;
    border-color: #ccffff;
    box-shadow: 0 0 0 2px #ccffff;
}
input.input-custom {
    height: 45px;
    width: 40%;
    border: 1px solid #36BEE8;
    box-shadow: none;
    background-color: #fff;
}
input.input-custom:focus {
    outline: none;
    border-color: #ccffff;
    box-shadow: 0 0 0 2px #ccffff;
}
textarea.text-area-custom {
    width: 40%;
    height: 80px;
    border: 1px solid #36BEE8;
    box-shadow: none;
    background-color: #fff;
}